.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header {
    font-family: 'Buba';
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-top: 0px;
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    background: #FDADB4;
    cursor: pointer;
}
.ellipse:hover{
    background: #fcb6bd;
    /*box-shadow: 1px 1px 1px 1px gray;*/
}